[package]
name = "anychain-sui"
description = "A Rust library for Sui-focused cryptocurrency wallets, enabling seamless transactions on the Sui blockchain"
version = "0.1.8"
keywords = ["sui", "blockchain", "cryptocurrency", "wallet", "transactions"]
edition = "2021"
homepage = "https://www.cregis.com"
license = "MIT/Apache-2.0"
repository = "https://github.com/0xcregis/anychain-sui"

[dependencies]
anychain-core = { version = "0.1.8" }
#schemars = { version = "0.8.10", features = ["either"] }
#serde = { version = "1.0", default-features = false, features = ["alloc", "derive"] }
#serde_with = { version = "2.1.0", features = ["hex"] }
#derive_more = "0.99.17"
bcs = "0.1.6"
hex = "0.4.3"
fastcrypto = { git = "https://github.com/MystenLabs/fastcrypto", features = ["copy_key"], rev = "c101a5176799db3eb9c801b844e7add92153d291" }
sui_types = { git = "https://github.com/mystenlabs/sui", package = "sui-types", rev = "f1a2d61bebdf83f01b58830e4768631bd28ce48a" }
shared_crypto = { git = "https://github.com/mystenlabs/sui", package = "shared-crypto", rev = "f1a2d61bebdf83f01b58830e4768631bd28ce48a" }
base64 = "0.22.1"
serde_json = "1.0.133"
bs58 = "0.5.1"
bech32 = "0.9.0"
rand = "0.8.5"
group = "0.13.0"
ed25519-dalek = { version = "2", features = ["hazmat"] }
#ed25519-dalek = "1.0.1"
curve25519-dalek = { version = "4.1.3", features = ["group"] }

[dev-dependencies]
rand = { version = "0.8.5" }
